# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# Database (Lesson data)
data/citizens.db
data/citizens.db-journal
data/citizens.db-wal

# CloudBeaver Artifacts
cloudbeaver_workspace/.data/
cloudbeaver_workspace/.metadata/
cloudbeaver_workspace/logs/
cloudbeaver_workspace/shared_data/
cloudbeaver_workspace/GlobalConfiguration/.dbeaver/*.bak
cloudbeaver_workspace/GlobalConfiguration/.dbeaver/project-settings.json

# Keep CloudBeaver configuration but ignore runtime data
!cloudbeaver_workspace/GlobalConfiguration/.dbeaver/data-sources.json
!cloudbeaver_workspace/conf/initial-data.conf

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
