# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# Database (Lesson data)
# We ignore the db file so students start fresh
data/
*.db
*.db-journal
*.db-wal

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
